*
{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body
{
    display:flex;
    justify-content: center;
    align-items:center;
    overflow:hidden;
    width:100vw;
    height:100vh;
}

.outer_logo
{
    background-color: blue;
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    border-radius: 50px;
    padding:20px;
    height: 200px;
    width:200px;
    display: grid;
    place-items: center;
}
.inner_logo
{
    border: solid;
    border-width: 10px;
    border-radius: 40px;
    border-color: white;
    height:150px;
    width: 150px;
}
.circle
{
    position:relative;
    top:28px;
    left:29px;
    border:solid 11px white;
    border-radius: 100%;
    width:70px;
    height:70px;
}
.point
{
    background-color: #fff;
    position:relative;
    float:right;

    right:20px;
    top:15px;

    width:15px;
    height:15px;
    border-radius: 100%;
   
}